h1{
  color:black;
  text-align: center;
  font : small-caps bold 24px/1 sans-serif;
  font-size: 2em;
}



.enregistrer {
  background-color: white;
  color: black;
  position: absolute;
  left: 40%;
  font: small-caps bold 24px/1 sans-serif;
  bottom: 50%;
}

.acceuil {
  background-color: white;
  color: red;
  position: absolute;
  left: 20%;
  font: small-caps bold 24px/1 sans-serif;
  bottom: 50%;
}

.categorie{
  background-color: white;
  color: red;
  position: absolute;
  left: 20%;
  font: small-caps bold 24px/1 sans-serif;
  bottom: 80%;
}
