body{
  background-image: url("acceuil.png");
  background-size: cover;
}
h1{
  color:white;
  text-align: center;
  font : small-caps bold 24px/1 sans-serif;
  font-size: 3em;
}

a {
  background-color: brown;
  color: white;
  position: absolute;
  left: 29%;
  font: small-caps bold 24px/1 sans-serif;
}

.inscription {
  bottom: 27%;
}
.connexion {
  bottom: 20%;
}
